/* FLEXBOX UTILITIES */
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}

.gap-0 {
  gap: 0;
}
.gap-1 {
  gap: 0.4rem;
}
.gap-2 {
  gap: 0.8rem;
}
.gap-3 {
  gap: 1.6rem;
}
.gap-4 {
  gap: 2.4rem;
}
.gap-5 {
  gap: 3.2rem;
}
.gap-6 {
  gap: 4.8rem;
}

/* SPACING UTILITIES (MARGIN) */
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.4rem;
}
.m-2 {
  margin: 0.8rem;
}
.m-3 {
  margin: 1.6rem;
}
.m-4 {
  margin: 2.4rem;
}
.m-5 {
  margin: 3.2rem;
}
.m-6 {
  margin: 4.8rem;
}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 0.4rem;
}
.mt-2 {
  margin-top: 0.8rem;
}
.mt-3 {
  margin-top: 1.6rem;
}
.mt-4 {
  margin-top: 2.4rem;
}
.mt-5 {
  margin-top: 3.2rem;
}
.mt-6 {
  margin-top: 4.8rem;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 0.4rem;
}
.mb-2 {
  margin-bottom: 0.8rem;
}
.mb-3 {
  margin-bottom: 1.6rem;
}
.mb-4 {
  margin-bottom: 2.4rem;
}
.mb-5 {
  margin-bottom: 3.2rem;
}
.mb-6 {
  margin-bottom: 4.8rem;
}

.ml-0 {
  margin-left: 0;
}
.ml-1 {
  margin-left: 0.4rem;
}
.ml-2 {
  margin-left: 0.8rem;
}
.ml-3 {
  margin-left: 1.6rem;
}
.ml-4 {
  margin-left: 2.4rem;
}
.ml-5 {
  margin-left: 3.2rem;
}
.ml-6 {
  margin-left: 4.8rem;
}

.mr-0 {
  margin-right: 0;
}
.mr-1 {
  margin-right: 0.4rem;
}
.mr-2 {
  margin-right: 0.8rem;
}
.mr-3 {
  margin-right: 1.6rem;
}
.mr-4 {
  margin-right: 2.4rem;
}
.mr-5 {
  margin-right: 3.2rem;
}
.mr-6 {
  margin-right: 4.8rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.mx-1 {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
.mx-2 {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
.mx-3 {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}
.mx-4 {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}
.mx-5 {
  margin-left: 3.2rem;
  margin-right: 3.2rem;
}
.mx-6 {
  margin-left: 4.8rem;
  margin-right: 4.8rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-1 {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
.my-2 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
.my-3 {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.my-4 {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}
.my-5 {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}
.my-6 {
  margin-top: 4.8rem;
  margin-bottom: 4.8rem;
}

/* SPACING UTILITIES (PADDING) */
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.4rem;
}
.p-2 {
  padding: 0.8rem;
}
.p-3 {
  padding: 1.6rem;
}
.p-4 {
  padding: 2.4rem;
}
.p-5 {
  padding: 3.2rem;
}
.p-6 {
  padding: 4.8rem;
}

.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: 0.4rem;
}
.pt-2 {
  padding-top: 0.8rem;
}
.pt-3 {
  padding-top: 1.6rem;
}
.pt-4 {
  padding-top: 2.4rem;
}
.pt-5 {
  padding-top: 3.2rem;
}
.pt-6 {
  padding-top: 4.8rem;
}

.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: 0.4rem;
}
.pb-2 {
  padding-bottom: 0.8rem;
}
.pb-3 {
  padding-bottom: 1.6rem;
}
.pb-4 {
  padding-bottom: 2.4rem;
}
.pb-5 {
  padding-bottom: 3.2rem;
}
.pb-6 {
  padding-bottom: 4.8rem;
}

.pl-0 {
  padding-left: 0;
}
.pl-1 {
  padding-left: 0.4rem;
}
.pl-2 {
  padding-left: 0.8rem;
}
.pl-3 {
  padding-left: 1.6rem;
}
.pl-4 {
  padding-left: 2.4rem;
}
.pl-5 {
  padding-left: 3.2rem;
}
.pl-6 {
  padding-left: 4.8rem;
}

.pr-0 {
  padding-right: 0;
}
.pr-1 {
  padding-right: 0.4rem;
}
.pr-2 {
  padding-right: 0.8rem;
}
.pr-3 {
  padding-right: 1.6rem;
}
.pr-4 {
  padding-right: 2.4rem;
}
.pr-5 {
  padding-right: 3.2rem;
}
.pr-6 {
  padding-right: 4.8rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-1 {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.px-2 {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.px-3 {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.px-4 {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
.px-5 {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}
.px-6 {
  padding-left: 4.8rem;
  padding-right: 4.8rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-1 {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.py-2 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.py-3 {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.py-4 {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}
.py-5 {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}
.py-6 {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

/* TYPOGRAPHY UTILITIES */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.fw-normal {
  font-weight: 400;
}
.fw-semi-bold {
  font-weight: 600;
}
.fw-bold {
  font-weight: 700;
}

.fs-small {
  font-size: 1.2rem;
}
.fs-base {
  font-size: 1.6rem;
}
.fs-large {
  font-size: 2rem;
}
.fs-xlarge {
  font-size: 2.4rem;
}
