{% extends "layout.html" %}
{% block content %}

  {% include "navbar.html" %}
  
  {% include "sidebar.html" %}

  <header class="mb-5">
    <h1>Python Tips & Tricks</h1>
    <p class="fs-base">
      Gain valuable skills and stay up-to-date with current Python trends.
    </p>
  </header>

  <div class="d-flex flex-column gap-4 mb-5">
    {% for post in posts %}
      <article class="post-card p-4">
        <div class="post-meta fs-small fw-semi-bold d-flex justify-content-between mb-2">
          <span class="author">By <a href="#">{{ post.author }}</a></span>
          <span class="date">{{ post.created_at | format_date("%b %d, %Y") }}</span>
        </div>
        <h2 class="post-title fw-bold fs-large">
          <a href="{{ url_for('post_page', post_id=post.id) }}">{{ post.title }}</a><span class="ml-2 fs-base fw-normal" style="color: lightslategrey;">( {{ post.level }} )</span>
        </h2>
        <div>
          <p class="post-excerpt fs-small">{{ post.content | truncate(200) }}</p>
          <div class="d-flex gap-3">
          {% for tag in post.tags %}
            <span class="fs-small" style="color: lightslategrey;">#{{ tag }}</span>
          {% endfor %}
          </div>
        </div>
        <a href="{{ url_for('post_page', post_id=post.id) }}" class="read-more fw-semi-bold fs-base mt-3">Read article &rarr;</a>
      </article>
    {% endfor %}
  </div>
{% endblock content %}
